////
/// Copyright (c) 2016-2021 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Everyting you would expect
.mdx-expect {
  margin: px2rem(48px) 0;

  // Expect list
  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: px2rem(32px);
    padding: 0;
  }

  // Expect item
  &__item {
    display: flex;
    flex: 1 0 48%;
    gap: px2rem(12px);
    margin: 0;
    transition:
      transform 750ms cubic-bezier(0.075, 0.85, 0.175, 1),
      opacity   750ms;

    // Delay transitions by a small amount
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition-delay: 125ms + 75ms * $i;
      }
    }

    // Expect item is hidden
    .js &[hidden] {
      transform: translate(px2rem(-16px), px2rem(8px));
      opacity: 0;

      // Reverse direction for every other item
      &:nth-child(2n) {
        transform: translate(px2rem(16px), px2rem(8px));
      }
    }
  }

  // Expect icon
  &__icon {
    flex-shrink: 0;
    width: px2rem(44px);
    height: px2rem(44px);
    padding: px2rem(8px);
    background-color: var(--md-default-fg-color--lightest);
    border-radius: 100%;
    fill: currentcolor;
  }

  // Expect description
  &__description {

    // Adjust spacing on last child
    > :last-child {
      margin-bottom: 0;

     
    }
  }
}
